* {
    overflow: hidden !important;
}
.sidenav_container{
    height: 93vh;
    .sidenav { 
        width:15vw;
        background: #729795;
        border-radius: 0 !important;
    }
        mat-icon,span{
            color: #fff;
            width:50%;
            height:100%;
        }
        a.active 
           { 
            background: white;
            margin: 0 0 0 10%;
            mat-icon,span{ 
                color: black;
            }
        }
           
            }

.entry
{  
    display: flex;
    margin: auto;
}
mat-sidenav-content { background-color: white;}


    