* {
    overflow: hidden !important;
}
.sidenav_container{
    height: 93vh;
    .sidenav { 
        width:15vw;
        background: #729795;
        border-radius: 0 !important;
    }
    mat-icon {
        margin-right: 10% !important;
        width: 20%;
        height: 100%;
    }
        a.active 
           { 
            background: white;
            margin: 0 0 0 10%;
            mat-icon,span{ 
                color: black;
            }
        }
           
            }

.entry
{  
    display: flex;
    margin-left: 20%;
    color: #fff;
    width:100%;
    height:100%;
}
mat-sidenav-content { background-color: white;}


    