<div class="navBar">
    <h1 >To-The-<span>Dot</span></h1>
    <div class="buttons">
        <button id="loginButton" mat-flat-button (click)="toLogin()">Login</button>
        <button id="registerButton" mat-flat-button accent (click)="toRegister()">Register</button>
    </div>
</div>
<div class="container">
<div class="hero">
<h1 class="heroText">Manage your money <span class="appname">To-The-Dot</span></h1>
<p>
    Take control of your finances with unparalleled accuracy.
     Our platform empowers you to manage every cent, ensuring
      that your money works as hard as you do.
</p>
</div>
<img src="/dashboard.svg" alt="landing page image" />
</div>