<div class="container">

    <div class="formContainer">
        
        <form [formGroup] ="loginForm" class="loginForm"> 
          <h2>Login</h2>
        <p>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input 
              matInput 
              placeholder="User@example.com"
              formControlName = "email"
              >
            </mat-form-field>
          </p>
          <p>
          <mat-form-field appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input 
            matInput 
            [type]="hide() ? 'password' : 'text'"
            formControlName="password"
             />
            <button
              mat-icon-button
              matSuffix
              (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()"
            >
              <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </p>
       
        <p>
            <button mat-flat-button  type="submit" [disabled]="!loginForm.valid" (click)="Login()">Login</button>
        </p>
      
        <p> Don't have an account ? , register <a href="/register">Here</a></p>
      </form>
    </div>  
    </div>