.container{
    width: 100%;
    height: 100vh;
    background-image: url("/login_backgound.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
.formContainer{
    border: 5px solid cyan;
    background-color: rgba(86, 203, 249,0.1);
    width: 50%;
}
.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    mat-form-field { 
        width: 500px;
        input { color: black;}
     }
    button { width: 250px; color: white; }
}
}