<div class="cardContainer">
<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title-group class="cardContent">
        <mat-card-title>0.00</mat-card-title>
        <mat-card-subtitle>Cash</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
</mat-card>
<mat-card appearance="outlined">
    <mat-card-actions>
        <mat-icon><fa-icon [icon]="faPlusCircle"></fa-icon></mat-icon>
    </mat-card-actions>
    <mat-card-content> ADD ACCOUNT</mat-card-content>
</mat-card>
</div>
